<div class="slider">
    <div class="slider-items" [style.transform]="'translateX(' + (-activeIndex * 100) + '%)'">
      <div *ngFor="let item of items; let i = index" 
           [ngClass]="{'active': i === activeIndex}" 
           (click)="setActive(i)">
        <!-- Tutaj używamy komponentu do wyświetlania danych -->
        <app-item [data]="item"></app-item>
      </div>
    </div>
    <div class="indicators">
      <span *ngFor="let item of items; let i = index" 
            [ngClass]="{'active-indicator': i === activeIndex}" 
            (click)="setActive(i)">
      </span>
    </div>
    <div class="controls">
      <button (click)="prev()">◄</button>
      <button (click)="next()">►</button>
    </div>
  </div>