// .container-carousel{
//     width: 400px;
//     height: 600px;
//     padding: 20px;
//     display: flex;
//     justify-content: space-between;
//     .left{
//         padding: 20px;
//         background-color:aqua;
//         width: 30%;
//     }
//     .right{
//         padding: 20px;
//         background-color:burlywood;
//         width: 30%;
//     }

// }

// .active {
//     display: block;
//   }
//   div:not(.active) {
//     display: none;
//   }